/*
Styles shared among all templates.

@since 0.1.0
*/
@import "../settings";

.page-content {
  margin: 30px 0;
}

.post-meta {
  font-style: italic;
  color: lighten($body-font-color, 40%);
}

.no-height {
    height: 0;
}

#site-content .row {
  padding: ( $column-gutter / 2 ) 0 ( $column-gutter / 2 ) 0;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

li.widget {
    list-style: none;
}

#newsletter {

    .button {
        background-color: transparent;
        //color: $primary-color;
        border-width: 3px;
        border-style: solid;
        text-transform: uppercase;
        font-weight: bold;

        &:active, &:focus {
          color: $light-color;
        }

        &:hover {
          color: $secondary-button-border-hover;
          border: 3px $secondary-button-border-hover solid;
        }
    }

}
