/*
Styles shared among all templates.

@since 0.1.0
*/
@import "../settings";

.page-content {
  margin: 30px 0;
}

.post-meta {
  font-style: italic;
  color: lighten($body-font-color, 40%);
}

.no-height {
    height: 0;
}

#services {
    position: relative;

    .fa, .wi {
      text-align: center;
      font-size: 4em;
      display: block;
    }

    h3 {

        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.6);
        margin-bottom: 0;
        height: 1.5em;
        color: $light-color;

    }

    .row {
        padding: ( $column-gutter / 2 ) 0 ( $column-gutter / 2 ) 0;
    }

    .button {
      margin: 0;
      border-top: none;
      border-bottom: none;
      width: 100%;
      background-size: cover;
      min-height: 250px;

        .overlay {

            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            opacity: 0.6;

        }

    }

    .columns:nth-child(odd) .button:hover {

        .overlay {
            background-color: $logo-red;
        }
    }

    .columns:nth-child(even) .button:hover {

        .overlay {
            background-color: $logo-blue;
        }

    }

    .vertical-center {
      @media #{$small-only} {
        margin-top: 0 !important; // Override so it doesn't try to center on small
      }
    }

}

body {
    background-color: $dark-color;
}

#wrapper {
    background-color: $light-color;
}

#site-content .row {
  padding: ( $column-gutter / 2 ) 0 ( $column-gutter / 2 ) 0;
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

li.widget {
    list-style: none;
}

#newsletter {

    .button {
        background-color: transparent;
        color: $primary-color;
        border: 3px $primary-color solid;
        text-transform: uppercase;
        font-weight: bold;

        &:active, &:focus {
          color: $light-color;
        }

        &:hover {
          color: $secondary-button-border-hover;
          border: 3px $secondary-button-border-hover solid;
        }
    }

}
