/*
Styles page.php.

@since 0.1.0
*/

@import "../settings";

$section-gutter: 50px;
$icon-size: 75px;

body.home {

  .page-content {
    margin: 15px 0;

    @media #{$medium-up} {
      margin: 30px 0;
    }
  }

  #testimonial {
    .testimonial-copy, .testimonial-copy p {
      color: #888;
      font-style: italic;
      margin: 0;
    }
    .testimonial-copy {
      border-right: 1px solid $gainsboro;
    }
    .aligncenter {
      margin: 0 auto;
    }
    .testimonial-loading {
      font-size: 4em;
    }
    .testimonial-content {
      display: none;
    }
  }

  #home-cta {

    padding: 1em;

    h2 {
        color: #000;
    }

    .tabs li {
      text-align: center;
    }

    .button {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
    }

  }

  #newsletter {

    .widget {
        background-color: $medium-color;
        padding: $gutter;
    }

    .fa {
        font-size: 2em;
        margin-top: -0.2em;
    }

  }

}
