/*
Styles page.php.

@since 0.1.0
*/

@import "../settings";

$section-gutter: 50px;
$icon-size: 75px;

body.home {

  .page-content {
    margin: 15px 0;

    @media #{$medium-up} {
      margin: 30px 0;
    }
  }

  #home-cta {

    padding: 1em;
    background-repeat: no-repeat;
    position: relative;
    background-position: -150px -150px;
    margin-top: $gutter;

    .cta-text {
        background-color: rgba( 0, 0, 0, 0.55 );
        padding: 1em;

        p {
            font-weight: 700;
            color: $light-color;
        }

    }

    h2 {
        color: #000;
    }

    .tabs-content > .content.active {
        float: left;
    }

    .tabs li {
      text-align: center;

        a {
            background: transparent;

            &.primary.button {
                background-color: $secondary-color;
                color: $light-color;
                border-color: $light-color;

                &:hover {
                    background-color: $primary-color;
                }

            }

            &.secondary.button {
                background-color: $primary-color;
                color: $light-color;
                border-color: $light-color;

                &:hover {
                    background-color: $secondary-color;
                }
            }

        }

        &.active {

            a.primary.button {

                background-color: darken( $primary-color, 5% );

                &:hover {
                    background-color: darken( $secondary-color, 5% );
                }

            }

            a.secondary.button {

                background-color: darken( $secondary-color, 5% );

                &:hover {
                    background-color: darken( $primary-color, 5% );
                }

            }

        }

    }

    .button {
      text-transform: uppercase;
      font-weight: bold;
      margin: 0;
    }

    .tabs dd > a, .tabs .tab-title > a {
        font-family: 'Lora';
    }

  }

  #newsletter {

    .widget {
        background-color: $medium-color;
        padding: $gutter;
    }

    .fa {
        font-size: 2em;
        margin-top: -0.2em;
    }

    .mc_signup_submit {

        text-align: right;

        input {
            width: auto;
        }

    }

  }

}
