header .realbig-slider-container {

    margin: 0 auto 0;

    .realbig-slider.testimonials {

        padding-top: 35%;

        .slide {

            background-size: cover;
            text-align: center;
            padding-top: 0;

            .overlay {
                background-color: rgba( 0, 0, 0, .6 );
                padding: 1% 0 1% 0;
            }

            h4, .testimonial-copy, .testimonial-copy p {
                color: #fff;
            }

            .testimonial-copy {
                border: none;
            }

            .testimonial-copy, .testimonial-copy p {
                font-style: italic;
                margin: 0;
                font-weight: 700;
            }

        }

        .add-testimonial {

            position: absolute;
            bottom: 1%;
            right: 1%;
            z-index: 5;
            color: #fff;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }

        }

    }

}
