header .realbig-slider-container {
    
    margin: 0 auto 0;

    .realbig-slider.header-testimonials {
    
        padding-top: 35%;

        .slide {
            padding-top: 0;
        }
        
    }
    
}

.slide{
    text-align: center;
    padding-top: 25%;
    background-size: cover;
}

.slide:nth-child(1){
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163697/slide-1.jpg);
}

.slide:nth-child(2){
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163697/slide-2.jpg);
}

.slide:nth-child(3){
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/163697/slide-3.jpg);
}
