/*
The static site header.

@since 0.1.0
*/
@import "../settings";

#top-bar {
    background: $dark-color;
    font-size: 1.25em;
}

#site-header {
  background: $medium-color;
  padding: 1em 0.5em;
  padding-bottom: 0;
  border-bottom: 3px solid $secondary-color;

  .logo {

    @media #{$small-only} {
      margin-bottom: 10px;
    }

    a {
      width: 200px;
      display: inline-block;
    }
  }

  .phone-number .fa.fa-phone {
      color: $anchor-font-color;
      text-decoration: $anchor-text-decoration;
      line-height: inherit;

      img { border:none; }
  }

  .top-nav {
        background: $dark-color;

        @media #{$medium-up} {
        }
        margin-top: 1em;
        margin-bottom: 3px;

        .menu {
          margin: 0;
          list-style: none;
          color: $primary-color;
          padding: 0 0.5em;

          @media #{$small-only} {
            padding: 0;
          }

          > .menu-item {
            position: relative;
            float: left;
            text-align: center;

            @media #{$small-only} {
              float: none;
              text-align: center;
              width: 100% !important;
              border-top: 3px solid $dark-color;
            }

            &:hover {
              .sub-menu {
                @media #{$medium-up} {
                  display: block;
                }
              }

              > a {
                @media #{$medium-up} {
                  background: $secondary-color;
                  color: $light-color;
                }
              }
            }

            &:first-of-type {

              @media #{$small-only} {
                border-top: none;
              }

              a {
                border-left: 3px solid $dark-color;
              }
            }

            > a {
              display: block;
              color: inherit;
              padding: 0.5em 1em;
              border-right: 3px solid $dark-color;
              font-family: 'Lora';

              @media #{$small-only} {
                display: inline-block;
                border: none !important;
              }
            }
          }
        }

        // Second level deep (max)
        .sub-menu {
          position: absolute;
          bottom: 100%;
          white-space: nowrap;
          list-style: none;
          margin: 0;
          //box-shadow: 0 0 30px rgba(#000, 0.3);
          display: none;
          width: 100%;
          padding-right: 3px;
          z-index: 50;

          .menu-item {
            &:last-of-type {
              a {
                border-bottom: none;
              }
            }
          }

          a {
            display: block;
            color: inherit;
            padding: 0.5em;
            background: $primary-color;
            border-bottom: 1px solid darken($primary-color, 5%);

            &:hover {
              background: darken($primary-color, 5%);
            }
          }
        }
      }

  .search-form {
    .search-field {
      width: 100%;
    }
  }

}
